/* Reset CSS moderne */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1.5;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  background-color: rgba(233, 233, 234, 0.646);
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem; /* Équivalent à px-4 en Tailwind */
  padding-right: 1rem;
}

@media (min-width: 640px) {
  /* sm */
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  /* md */
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  /* lg */
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  /* xl */
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  /* 2xl */
  .container {
    max-width: 1536px;
  }
}
